* {
    font-family: Arial, Helvetica, sans-serif;
    background-color:bisque;
}
h1{
    color: rgb(36, 29, 15);
    text-align: center;
}

div > h3 {
    color: rgb(224, 33, 33)
}

ol > li {
    font-style: italic;
}
